body, html { 
  margin: 0;
background-color: #F7F7F7;
    min-height: 100%;
    
}

@font-face {
  font-family: 'Suisse Intl Mono';
  src: url('fonts/SuisseIntlMonoThin/SuisseIntlMono-Thin-WebXL.eot'); /* IE9 Compat Modes */
  src: url('fonts/SuisseIntlMonoThin/SuisseIntlMono-Thin-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/SuisseIntlMonoThin/SuisseIntlMono-Thin-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SuisseIntlMonoThin/SuisseIntlMono-Thin-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SuisseIntlMonoThin/SuisseIntlMono-Thin-WebXL.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Suisse Intl';
  src: url('fonts/SuisseIntl/SuisseIntl-Bold-WebXL.eot'); /* IE9 Compat Modes */
  src: url('fonts/SuisseIntl/SuisseIntl-Bold-WebXL.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/SuisseIntl/SuisseIntl-Bold-WebXL.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/SuisseIntl/SuisseIntl-Bold-WebXL.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/SuisseIntl/SuisseIntl-Bold-WebXL.svg') format('svg'); /* Legacy iOS */
    
}

h1 {
    font-family: "Suisse Intl", sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 0.9em;
    color: #000;
    margin: 0px;
}

h2 {
    font-family: "Suisse Intl", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 0.9em;
    color: #000;
    margin: 0px;
    padding-bottom: 5px;
    
}


h3 {
    font-family: "Suisse Intl Mono", sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.1em;
    font-size: 14px;
    color: #000;
    margin: 0px;
}



p {
    font-family: "Suisse Intl Mono", sans-serif;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 1.1em;
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 0; 
}

img{
    width: 100%;
    padding-bottom: 15px;
}

a:active, a:visited, a:link {
    color:#000;
    text-decoration: none;
    
}
a:hover {
    color: #FF4500;
    text-decoration: underline;
}

.half{
    width: 50%;
}

.wrapper {
    display: flex;
    margin: 0px;
    padding: 15px;
    position: absolute;
    height: 100%;
}


.text {
    width: 22.5%;
    float: left;
    margin: 0px;
    margin-right: 2.5%;
    padding: 0px;
    position: fixed;
}

.orange {
    background-color: #FF4500;
    width: 100%;
    padding-top: 100%;
    border-radius: 100%;
    margin-top: 15%;
    margin-left: 15%;
    z-index: -1;
    position: absolute;
}

.work {
    width: 72.5%;
    margin: 0px;
    padding: 0px;
    padding-left: 25%;
    margin-left: 2.5%;
    float: right;
    z-index: 1;
}

.footer{
    display: block;
    width: 25%;
    float: left;
    position: fixed;
    height: 30px;
    bottom: 0;
    padding-left: 15px;
}

@media screen and (max-width: 600px) {
    h2{
        font-size: 30px
    }
    .wrapper {
        display: contents;
    }
    .work{
        width: 95%;
        margin: 2.5%;
        padding-left: 0;
    }
    .text{
        width: 95%;
        margin: 2.5%;
        position: static;
    }
    .orange {
        width: 20%;
        padding-top: 20%;
        margin-left: 75%;
        margin-right: 0px;
        margin-top: 0px;
        z-index: 0;
    }
    .half{
        width: 100%
    }
    .footer {
        display: none;
    }
}
